@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arvo/v22/tDbN2oWUg0MKqSIQ6A.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arvo/v22/tDbO2oWUg0MKqSIoVLHK9g.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arvo/v22/tDbD2oWUg0MKmSA.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arvo/v22/tDbM2oWUg0MKoZw1yLQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Moul';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/moul/v28/nuF2D__FSo_3E-Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLoHRiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLgHQiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLt_QiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLoHQiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLrPQiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLl_XiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLmbXiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLgHXiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLijXiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbGmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuZEbWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuaabWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWub2bWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYaammT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjammT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuZEammT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuZtammT.ttf) format('truetype');
}
body {
  font-family: 'Roboto', serif;
}
header {
  margin-bottom: 40px;
}
p {
  line-height: 1.8;
  font-weight: 300;
}
a {
  font-weight: 700;
  text-decoration: none;
  color: #1AB9F1;
  transition: all 0.4s ease-in-out;
}
a:hover {
  color: #FDEF06;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arvo", serif;
  font-weight: 400;
}
.container-fluid-custom {
  padding-left: 170px;
  padding-right: 170px;
}
@media (max-width: 1199px) {
  .container-fluid-custom {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .container-fluid-custom {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.btn-custom {
  padding: 9px 18px 9px 18px;
  border-radius: 0;
  transition: all 0.4s ease-in-out;
  font-family: "Arvo", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.4px;
  flex-shrink: 0;
}
@media (max-width: 1199px) {
  .btn-custom {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .btn-custom {
    font-size: 14px;
  }
}
.btn-custom.btn-custom__primary {
  color: #fff;
  background-color: #1AB9F1;
  transition: all 0.4s ease-in-out;
}
.btn-custom.btn-custom__primary:hover {
  color: #000000;
  background-color: #FDEF06;
  border-color: #FDEF06;
}
.btn-custom.btn-custom__secondary {
  color: #000000;
  background-color: #FDEF06;
  transition: all 0.4s ease-in-out;
}
.btn-custom.btn-custom__secondary:hover {
  opacity: 0.8;
}
.btn-custom.btn-custom__outline__primary {
  background-color: transparent;
  color: #1AB9F1;
  border: 1px solid #1AB9F1;
}
.btn-custom.btn-custom__outline__primary:hover {
  opacity: 0.8;
}
.btn-custom.btn-custom__outline__secondary {
  background-color: transparent;
  color: #000000;
  border: 1px solid #FDEF06;
}
.btn-custom.btn-custom__outline__secondary:hover {
  opacity: 0.8;
}
.btn-custom.btn-text {
  color: #1AB9F1;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 25.2px */
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 0;
}
.btn-custom.btn-text img {
  margin-bottom: 0;
}
.btn-custom.btn-text:hover {
  border-color: transparent;
  opacity: 0.8;
}
.btn-custom.btn-text:active {
  border: 0;
}
.btn-outline-light .bi-search::before {
  color: #1AB9F1;
}
.navbar .navbar-brand {
  color: #000000;
  font-family: "Moul", serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -4px;
  margin-bottom: 0;
  margin-right: 0;
}
@media (max-width: 991px) {
  .navbar .navbar-brand {
    font-size: 40px;
    letter-spacing: -2px;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-brand {
    font-size: 28px;
    letter-spacing: 0;
  }
}
.navbar .navbar-brand span {
  background: #FDEF06;
  padding: 4px 16px 0px;
  font-size: 34px;
}
@media (max-width: 991px) {
  .navbar .navbar-brand span {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-brand span {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .navbar .navbar-custom {
    width: 100% !important;
    border-bottom: 1px solid #D8D8D8 !important;
    padding: 0 72px 24px;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .navbar .navbar-custom .offcanvas-body {
    justify-content: center;
  }
}
.navbar .navbar-custom .nav-item .nav-link {
  color: #000000;
  font-family: 'Roboto', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  /* 18px */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 24px;
}
.navbar .navbar-custom .nav-item .nav-link:hover {
  background-color: #FDEF06;
}
.navbar .navbar-custom input[type="search"] {
  border-color: #B5B5B5;
  border-right-color: transparent;
}
.navbar .navbar-custom .input-group-search button {
  border-color: #B5B5B5;
  border-left-color: transparent;
}
.navbar .navbar-custom .input-group-search button img {
  opacity: 0.6;
}
.navbar .navbar-custom .input-group-search button:hover {
  background-color: transparent;
}
.navbar .navbar-custom .input-group-search button:hover img {
  opacity: 1;
}
.alert-custom {
  background-color: #1AB9F1;
  color: #fff;
  border-radius: 0;
  border: 0;
}
.alert-custom a {
  color: #fff;
}
.tag {
  padding: 7px 10px;
  background-color: #1AB9F1;
  color: #fff;
  font-family: 'Roboto', serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.92px;
  text-transform: uppercase;
}
.section-custom {
  margin-bottom: 40px;
}
.section-custom-title {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  margin-bottom: 16px;
}
.section-custom-title hr {
  width: 100%;
}
.section-custom-title h3 {
  font-family: "Moul", serif;
  white-space: nowrap;
}
.article-card .article-img {
  margin-bottom: 24px;
}
.article-card .meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}
.article-card .meta img {
  width: 18px;
}
.article-card .meta .meta-info {
  display: flex;
  gap: 12px;
  color: #939393;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 25.6px */
}
.article-card .meta .meta-info span {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}
.article-card .meta .meta-info span img {
  margin-bottom: 0;
}
.article-card h2 {
  color: #000000;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 44.8px */
}
.article-card p {
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}
.article-card .tag-block {
  display: flex;
  gap: 12px;
}
.article-card.article-card-md {
  margin-bottom: 24px;
}
.article-card.article-card-md .meta {
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
}
.article-card.article-card-md .meta img {
  width: 15px;
}
.article-card.article-card-md .article-img {
  margin-bottom: 16px;
}
.article-card.article-card-md h2 {
  font-size: 18px;
}
.article-card.article-card-md p {
  font-size: 14px;
  margin-bottom: 2px;
}
.article-card.article-card-md .tag {
  font-size: 11px;
}
.cta {
  background-color: #1AB9F1;
  padding: 56px 80px;
  margin: 56px 0;
}
@media (max-width: 991px) {
  .cta {
    padding: 32px 40px;
    margin: 16px 0;
  }
}
.cta h3 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 32px;
  text-align: center;
  font-family: "Moul", serif;
}
.cta form .form-control {
  background: transparent;
  border-color: white;
  color: white;
  border-radius: 0;
}
.cta form .form-control::placeholder {
  color: #fff;
}
.cta form .form-text {
  color: #fff;
  opacity: 0.8;
  margin-top: 6px;
}
.cta form .form-text a {
  color: #fff;
}
.cta form .form-text a:hover {
  color: #FDEF06;
}
.cta form .btn-custom__secondary:hover {
  background-color: #fff;
  opacity: 1;
}
footer {
  background-color: #F4F4F4;
}
footer .footer-inner {
  display: flex;
  align-items: center;
  gap: 44px;
  justify-content: center;
  padding: 24px 0;
}
@media (max-width: 1440px) {
  footer .footer-inner {
    gap: 0px;
    flex-direction: column;
  }
}
footer .footer-inner .nav-custom .nav-item .nav-link {
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.36px;
}
footer .footer-bottom {
  text-align: center;
  border-top: 1px solid var(--Line, #DBD2C9);
  padding: 22px 10px;
}
footer .footer-bottom p {
  color: #18212B;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  margin-bottom: 0;
}
footer .footer-bottom p a {
  color: #18212B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.socials {
  display: flex;
  align-items: center;
  padding: 22px 10px;
  gap: 12px;
}
.socials h4 {
  color: #1AB9F1;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 18px */
  letter-spacing: 0.36px;
  margin-bottom: 0;
}
.socials .social-icons {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 0;
}
.socials .social-icons li {
  background-color: #1AB9F1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 0;
}
.socials .social-icons li:hover {
  opacity: 0.9;
}
.socials .social-icons li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
